.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.fz-16{
  font-size: 20px;
}
.fields-display{
  display: grid;
}

.form-control:focus{
  box-shadow: none !important;
  border-color: #ccc !important;
}
.form-control{
  border: 1px solid #ccc;
  border-radius: 999px !important;
  width: 550px !important;
  height: 44px !important;
}
.mandatory-class{
  color: #FF0000;
}
.category-fields{
  width: 550px !important;
}

@media only screen and (max-width: 768px) {
  .form-control {
    width: 100% !important;
  }
  .category-fields{
    width: 100% !important;
  }
}